.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: space-between;
	@media (320px <= width <= 768px) {
		width: calc(100% - 20px);
	}
	@media (769px <= width <= 991px) {
		width: calc(100% - 40px);
	}
	@media (992px <= width <= 1200px) {
		width: calc(100% - 80px);
	}
	@media (1201px <= width <= 1400px) {
		width: calc(100% - 120px);
	}
	@media (min-width: 1400px) {
		width: calc(100% - 200px);
	}
}
