.gridContainer {
	padding-top: 100px;
	display: grid;
	grid-template-columns: 300px auto;
	gap: 30px;
	@media (max-width: 768px) {
		grid-template-columns: auto;
	}

	.filterMobile {
		display: flex;
		justify-content: end;
		padding-right: 40px;
		.filterMobileLink {
			text-decoration: none;

			color: #b4a186;
			&:hover {
				color: black;
			}
		}
	}
}
