.starContainer {
	display: flex;
	gap: 5px;
}

.star {
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: transform 0.2s ease, fill 0.2s ease;
	fill: transparent;
}

.star:hover {
	transform: scale(1.1);
}

.filled {
	fill: black;
}
