@import '../../../../../styles/variables.scss';
.orderTrack {
	margin-top: 150px;
	height: 70vh;
	display: flex;
	justify-content: center;
	.orderTrackWrapper {
		width: 40%;

		.orderTrackDescription {
			margin-top: 39px;
			font-weight: 400;
			font-size: 20px;
			line-height: 130%;
			text-align: center;
			color: $light-colors-black-light;
		}

		.orderTrackForm {
			margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 48px;
		}
	}
}
