@import '../../../styles/variables.scss';
.randomQuoteBlock {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 4rem 0;
	.titleBlock {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0 10px;
		width: 10%;
		flex-direction: column;
		.line {
			width: 100%;
			height: 1px;
			background-color: #888;
			margin: 20px 0 10px;
		}
		.randomQuoteTitle {
			// display: inline-block; // Чтобы элементы с классом .line располагались рядом с текстом
			font-size: 45px;
			text-align: center;
			margin: 0 20px;
			white-space: nowrap;
			@media (max-width: 768px) {
				font-size: 28px;
			}
		}
	}
	.randomQuote {
		font-weight: 400;
		font-size: 20px;
		line-height: 208%;
		text-align: center;
		color: $light-colors-dark-gray-light;
		max-width: 75%;
		@media (max-width: 768px) {
			font-size: 18px;
			line-height: 140%;
		}
	}
	.randomQuoteBtn {
		border: 1px solid $dark-colors-light-gray-dark;
		padding: 10px 20px;
		border-radius: 8px;
		background: transparent;
		font-size: 16px;
		margin-top: 20px;
		transition: all 0.3s ease;
		&:hover {
			background: $dark-colors-black-dark;
			color: white;
		}
	}
}
