@import '../../../styles/variables.scss';

.listPopularBooks {
	// display: grid;
	justify-items: center;
	padding: 0;
	gap: 15px;

	.popularBook {
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 180px;

		.backgroundImageBook {
			position: relative;
			background: #efeee8;
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 8px;
			padding: 50px 0;
			&:hover {
				.addBookToCart {
					opacity: 1;
				}
			}
			.imageBook {
				transition: all 0.3s ease-in-out;
				box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.5);
				width: 120px;
				height: 180px;
			}
			.addBookToCart,
			.seeDetails {
				position: absolute;
				transition: opacity 0.3s ease;
				height: 30px;
				border: none;
				font-weight: 700;
				font-size: 15px;
				color: $dark-colors-light-gray-dark;
				text-transform: uppercase;
			}
			.addBookToCart {
				background: rgba(255, 255, 255, 0.9);
				width: 96%;
				bottom: 42%;
				opacity: 0;
				border-radius: 8px;
			}
			.seeDetails {
				width: 100%;
				bottom: 0;
				background: transparent;
				border-top: 2px solid #fff;
				border-radius: 0 0 8px 8px;

				&:hover {
					background: rgba(228, 228, 228, 0.9);
				}
			}
		}

		.titleBook {
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			text-align: center;
			color: $light-colors-black-light;
			height: 43px;
			margin: 20px 0 15px;
		}
		.authorBook {
			font-weight: 400;
			font-size: 13px;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			text-align: center;
			color: $light-colors-dark-gray-light;
		}
		.priceBook {
			font-weight: 400;
			font-size: 18px;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			text-align: center;
			color: $light-colors-accent-light;
			align-items: flex-end;
		}
	}
}
