@import '../../../styles/variables.scss';

.listPopularBooks {
	display: flex;
	flex-wrap: wrap;
	// display: grid;
	// grid-template-columns: repeat(6, 1fr);
	padding: 0;
	justify-content: center;
	gap: 25px;
	// @media (1000px <= width < 1300px) {
	// 	grid-template-columns: repeat(4, 1fr);
	// 	// gap: 35px;
	// }
	// @media (700px <= width < 1000px) {
	// 	grid-template-columns: repeat(3, 1fr);
	// }
	// @media (320px <= width < 700px) {
	// 	grid-template-columns: repeat(2, 1fr);
	// }
	.popularBook {
		width: 200px;
		display: flex;
		align-items: center;
		flex-direction: column;

		.backgroundImageBook {
			position: relative;
			background: #efeee8;
			width: 100%;
			height: 260px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 8px;

			&:hover {
				.sold {
					opacity: 1;
				}
			}
			.imageBook {
				transition: all 0.3s ease-in-out;
				width: 120px;
				height: 180px;
				box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.5);
			}
			.sold,
			.seeDetails {
				position: absolute;
				transition: opacity 0.3s ease;
				height: 30px;
				border: none;
				font-weight: 700;
				font-size: 15px;
				color: $dark-colors-light-gray-dark;
				text-transform: uppercase;
			}
			.sold {
				background: rgba(255, 255, 255, 0.9);
				width: 96%;
				bottom: 36%;
				opacity: 0;
				border-radius: 8px;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (320px <= width <= 991px) {
					opacity: 1;
				}
			}

			.seeDetails {
				width: 100%;
				bottom: 0;
				background: transparent;
				border-top: 2px solid #fff;
				border-radius: 0 0 8px 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
			}
		}
		.titleBook,
		.authorBook {
			cursor: pointer;
		}
		.titleBook {
			font-weight: 400;
			font-size: 17px;
			line-height: 130%;
			text-align: center;
			color: $light-colors-black-light;
			height: 60px;
			margin: 20px 0 10px;
		}
		.authorBook {
			font-weight: 400;
			// height: 43px;
			font-size: 13px;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			text-align: center;
			color: $light-colors-dark-gray-light;
		}
		.priceBook {
			font-weight: 400;
			font-size: 18px;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			text-align: center;
			color: $light-colors-accent-light;
			align-items: flex-end;
		}
	}
}
