@import '../../../styles/variables.scss';

.listPopularBooks {
	display: grid;

	justify-items: center;
	padding: 0;
	gap: 15px;
	@media (320px <= width <= 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
	@media (769px <= width <= 991px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (992px <= width <= 1500px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (1501px <= width <= 2300px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (2301px <= width <= 3200px) {
		grid-template-columns: repeat(6, 1fr);
	}
	@media (3201px <= width <= 4500px) {
		grid-template-columns: repeat(6, 1fr);
	}
	@media (min-width: 4501px) {
		grid-template-columns: repeat(10, 1fr);
	}
	.popularBook {
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		@media (320px <= width <= 788px) {
			width: 280px;
		}
		@media (769px <= width <= 991px) {
			width: 260px;
		}
		@media (992px <= width <= 1200px) {
			width: 240px;
		}
		@media (1201px <= width <= 1400px) {
			width: 220px;
		}
		@media (min-width: 1401px) {
			width: 180px;
		}

		.backgroundImageBook {
			position: relative;
			background: #efeee8;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 8px;
			@media (320px <= width <= 768px) {
				padding: 50px 0;
				height: 340px;
			}
			@media (769px <= width <= 991px) {
				padding: 50px 0;
				height: 320px;
			}
			@media (992px <= width <= 1200px) {
				padding: 50px 0;
				height: 300px;
			}
			@media (1201px <= width <= 1400px) {
				padding: 50px 0;
				height: 280px;
			}
			@media (min-width: 1401px) {
				height: 260px;
			}

			&:hover {
				.addBookToCart {
					opacity: 1;
				}
			}
			.imageBook {
				transition: all 0.3s ease-in-out;
				box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.5);
				@media (320px <= width <= 768px) {
					width: 200px;
					height: 260px;
				}
				@media (769px <= width <= 991px) {
					width: 180px;
					height: 240px;
				}
				@media (992px <= width <= 1200px) {
					width: 160px;
					height: 220px;
				}
				@media (1201px <= width <= 1400px) {
					width: 140px;
					height: 200px;
				}
				@media (min-width: 1401px) {
					width: 120px;
					height: 180px;
				}
			}
			.addBookToCart,
			.seeDetails {
				position: absolute;
				transition: opacity 0.3s ease;
				height: 30px;
				border: none;
				font-weight: 700;
				font-size: 15px;
				color: $dark-colors-light-gray-dark;
				text-transform: uppercase;
			}
			.addBookToCart {
				background: rgba(255, 255, 255, 0.9);
				width: 96%;
				bottom: 42%;
				opacity: 0;
				border-radius: 8px;
			}
			.seeDetails {
				width: 100%;
				bottom: 0;
				background: transparent;
				border-top: 2px solid #fff;
				border-radius: 0 0 8px 8px;

				&:hover {
					background: rgba(228, 228, 228, 0.9);
				}
			}
		}

		.titleBook {
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			text-align: center;
			color: $light-colors-black-light;
			height: 43px;
			margin: 20px 0 15px;
		}
		.authorBook {
			font-weight: 400;
			font-size: 13px;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			text-align: center;
			color: $light-colors-dark-gray-light;
		}
		.priceBook {
			font-weight: 400;
			font-size: 18px;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			text-align: center;
			color: $light-colors-accent-light;
			align-items: flex-end;
		}
	}
}
