@import '../../../styles/variables.scss';
.HeaderBlockIcon {
	height: 21px;
	display: flex;
	gap: 28px;
	border-left: 1px solid $light-colors-dark-gray-light;
	padding-left: 38px;
	margin: auto 0;
	.HeaderIcon {
		position: relative;
		display: flex;
		align-items: center;
	}
}
