@import '../../styles/variables.scss';
.account {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 128px 0;
	.accountWrapper {
		text-align: center;
		width: 500px;
		.blockEnter {
			margin-top: 64px;
			border-radius: 8px;
			width: 500px;
			height: 60px;
			background: $light-colors-light-gray-light;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-bottom: 126px;
			.btnEnter {
				border: none;
				border-radius: 8px;
				width: 236px;
				height: 50px;
				box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
				background: $light-colors-white-light;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				color: $light-colors-black-light;
			}
			.btnEnterNotActive {
				background-color: transparent;
			}
		}
	}
}
