@import '../../styles/variables.scss';
.account {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 128px 0;
	margin: 0 auto;
	@media (320px <= width <= 768px) {
		width: 90%;
		padding-top: 128px;
		padding-bottom: 48px;
	}
	.accountWrapper {
		width: 100%;
		text-align: center;
		@media (320px <= width <= 768px) {
			width: 80%;
		}

		.blockEnter {
			margin-top: 64px;
			border-radius: 8px;
			padding: 5px;
			height: 60px;
			background: $light-colors-light-gray-light;
			display: flex;
			gap: 5px;
			align-items: center;
			justify-content: space-around;
			margin-bottom: 126px;
			@media (320px <= width <= 768px) {
				margin-bottom: 46px;
				margin-top: 34px;
			}
			.btnEnter {
				border: none;
				border-radius: 8px;
				width: 236px;
				height: 50px;
				box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
				background: $light-colors-white-light;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				color: $light-colors-black-light;
			}
			.btnEnterNotActive {
				background-color: transparent;
			}
		}
	}
}
