@import '../../../styles/variables.scss';
.dashboard {
	padding-top: 150px;
	min-height: 80vh;
	@media (320px <= width <= 768px) {
		display: flex;
		padding-top: 100px;
	}
	.dashboardTabs {
		.dashboardTabsList {
			margin-top: 64px;
			display: flex;
			justify-content: start;
			padding: 0;
			list-style: none;
			gap: 49px;
			height: 40px;
			border-bottom: 1px solid $light-colors-gray-light;

			@media (320px <= width <= 768px) {
				display: none;
			}

			.dashboardTabsListItem {
				.dashboardTabsListLink {
					text-decoration: none;
					font-weight: 400;
					font-size: 16px;
					line-height: 130%;
					color: $light-colors-dark-gray-light;
				}
				.dashboardTabsListLinkActive {
					font-weight: 400;
					font-size: 18px;
					line-height: 130%;
					color: $light-colors-black-light;
				}
			}
			.dashboardTabsListItemActive {
				border-bottom: 1px solid $light-colors-black-light;
			}
		}
	}
	.dashboardTabsContent {
		width: 100%;
		padding: 20px;
		.orders {
			width: 100%;

			.orderAlert {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-top: 2px solid $light-colors-accent-light;
				padding: 20px 0;
				padding-left: 40px;
				background: $light-colors-light-gray-light;
				.orderAlertInfo {
					gap: 16px;
					display: flex;
					p {
						margin: 0;
					}
				}
				.orderAlertTimer {
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					// width: 25px;
					height: 25px;
					font-weight: 700;
					border-radius: 50%;
					background-color: #b4a186;
					margin-right: 50px;
					transition: all 0.3s ease;
				}

				.orderAlertBlockLink {
					margin-right: 39px;
					.orderAlertLink {
						font-weight: 700;
						font-size: 16px;
						color: $light-colors-accent-light;
					}
				}
			}
			.orderTable {
				.orderMobileContainer {
					.orderMobile {
						display: flex;
						justify-content: space-between;
						padding: 10px 0;
						border-bottom: 1px solid $light-colors-gray-light;
						gap: 30px;

						.orderMobileList {
							display: flex;
							flex-direction: column;
							list-style: none;
							padding: 0;
							margin: 0;
							gap: 5px;
							.orderMobileTitle {
								width: 96px;
								font-weight: 400;
								font-size: 12px;
								line-height: 167%;
								color: $light-colors-black-light;
							}
							.orderMobileSubTitle {
								font-weight: 400;
								font-size: 12px;
								line-height: 167%;
								color: $light-colors-dark-gray-light;
							}
							.viewOrder {
								font-weight: 700;
								font-size: 12px;
								color: $light-colors-accent-light;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
		.addresses {
			.addressesInfo {
				margin-bottom: 46px;
			}
			.addressesWrapper {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 88px;

				@media (320px <= width <= 768px) {
					grid-template-columns: repeat(1, 1fr);
					column-gap: 20px;
				}
				.checkoutDetailsFormInfo {
					display: flex;
					flex-direction: column;
					gap: 37px;
					margin-bottom: 36px;
					@media (320px <= width <= 768px) {
						gap: 15px;
					}
					.checkoutDetailsFormName {
						display: flex;
						gap: 40px;
						@media (320px <= width <= 768px) {
							gap: 15px;
						}
					}
				}
				.addressesBlock {
					margin-bottom: 50px;
					.addressesTitle {
						font-weight: 400;
						font-size: 20px;
						line-height: 130%;
						color: $light-colors-black-light;
						margin-bottom: 14px;
					}
					.addressesBtn {
						border: none;
						background-color: transparent;
						font-weight: 700;
						font-size: 16px;
						color: $light-colors-accent-light;
						margin-bottom: 14px;
					}
					.addressesNotYet {
					}
				}
			}
		}
		.accountDetails {
			margin-bottom: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.accountDetailsForm {
				display: flex;
				flex-direction: column;
				gap: 37px;

				@media (320px <= width <= 768px) {
					gap: 10px;
				}

				.displayDescription {
					font-weight: 400;
					font-size: 12px;
					color: var(--light-colors-dark-gray---light);
					margin: 0;
				}
				.accountDetailsFormChangePasswordTitle {
					margin-top: 40px;
					margin-bottom: 0;
					font-weight: 700;
					font-size: 16px;
					color: $light-colors-black-light;
				}
			}
		}
	}
}
