@import '../../../styles/variables.scss';
.searchBar {
	border-bottom: 1px solid $light-colors-gray-light;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	.searchInput,
	.searchButton {
		border: none;
		background: transparent;
	}
	.searchInput {
		width: 100%;
		&:focus {
			outline: none;
		}
	}
}
