@import '../../../styles/variables.scss';
.title {
	font-weight: 500;
	font-size: 33px;
	line-height: 130%;
	color: $light-colors-black-light;
	text-align: center;
	@media (320px <= width <= 768px) {
		font-size: 28px;
	}
}
