@import '../../../styles/variables.scss';
.password {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 128px 0;
	min-height: 50vh;
	@media (320px <= width <= 768px) {
		margin-top: 100px;
		margin-bottom: 60px;
	}
	.passwordWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80%;
		@media (min-width: 769px) {
			width: 600px;
		}
		.subTitle {
			font-weight: 400;
			font-size: 20px;
			line-height: 130%;
			text-align: center;
			color: $light-colors-black-light;
			margin-top: 39px;
			margin-bottom: 108px;

			@media (320px <= width <= 768px) {
				font-size: 14px;
				margin-top: 20px;
				margin-bottom: 60px;
			}
		}
	}
	.passwordWrapper > :nth-child(3) {
		margin-bottom: 64px;
	}
}
