*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'DM Sans', sans-serif;
	/* font-family: 'Allerta Stencil', sans-serif; */
	-webkit-user-select: text;
}
