@import '../../../styles/variables.scss';
.cartItem {
	position: relative;
	display: flex;
	width: 100%;
	padding: 20px;
	height: auto;
	gap: 10px;
	&:hover {
		background-color: rgba($color: #cacaca, $alpha: 0.1);
		border-radius: 8px;
	}
	.cartItemInfo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 8px;
		.cartItemMainInfo {
			padding-right: 30px;
			.cartItemTitle {
				margin: 0;
				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
				color: $light-colors-black-light;
			}
			.cartItemSubTitle {
				margin: 0;
				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
				color: $light-colors-dark-gray-light;
			}
			.cartItemPrice {
				margin: 0;
				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
				color: $light-colors-accent-light;
			}
		}
		.cartItemTotalQuantity {
			display: flex;
			gap: 7px;
			.cartItemTotalQuantityTitle {
				font-weight: 400;
				font-size: 12px;
				line-height: 167%;
				color: $light-colors-dark-gray-light;
			}
			.cartItemTotalQuantityBtnMinusPlus {
				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
				color: $light-colors-dark-gray-light;
				border: none;
				background-color: transparent;
			}
			.cartItemTotalQuantityCount {
				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
				color: $light-colors-dark-gray-light;
			}
		}
	}
	.cartItemBtn {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 14px;
		width: 14px;
		border: none;
		background-color: transparent;
	}
}
