@import '../../styles/variables.scss';
.contacts {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.subTitle {
		font-weight: 400;
		font-size: 20px;
		line-height: 130%;
		text-align: center;
		color: $light-colors-black-light;
		margin-top: 39px;
		margin-bottom: 108px;

		@media (320px <= width <= 768px) {
			font-size: 14px;
			margin-top: 19px;
			margin-bottom: 68px;
		}
	}
	.contactsForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 94px;
		width: 80%;

		@media (320px <= width <= 768px) {
			gap: 24px;
		}

		.contactsFormLabel {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 86px;
			row-gap: 94px;

			@media (320px <= width <= 768px) {
				grid-template-columns: repeat(1, 1fr);
				column-gap: 40px;
				row-gap: 24px;
			}
		}
	}
}
