@import '../../../styles/variables.scss';
.nav {
	display: flex;
	max-width: 100%;
	.navList {
		display: flex;
		align-items: center;
		gap: 64px;
		margin: 0;
		margin-right: 48px;
		height: 100%;
		.navItem {
			display: flex;
			align-items: center;
			list-style: none;
			height: 100%;
		}
		.navItemActive {
			border-bottom: 1px solid $light-colors-black-light;
		}
		.navLink {
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
			line-height: 169%;
			color: $light-colors-dark-gray-light;
			&:hover {
				color: #fff;
				text-shadow: 1px 1px 10px #000;
			}
		}
		.navLinkActive {
			color: $light-colors-black-light;
		}

		.disabled {
			opacity: 0.5;
		}
	}
}
