@import '../../../styles/variables.scss';
.nav {
	display: flex;
	max-width: 100%;
	.navList {
		display: flex;
		align-items: center;
		gap: 64px;
		margin: 0;
		margin-right: 48px;
		height: 100%;

		@media (min-width: 992px) {
			li:last-child {
				display: none;
			}
		}
		.navItem {
			display: flex;
			align-items: center;
			list-style: none;
			height: 100%;
		}
		.navItemActive {
			border-bottom: 1px solid $light-colors-black-light;
			@media (max-width: 991px) {
				border: none;
			}
		}
		.navLink {
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
			line-height: 169%;
			color: $light-colors-dark-gray-light;
			&:hover {
				color: #fff;
				text-shadow: 1px 1px 10px #000;
			}
		}
		.navLinkActive {
			color: $light-colors-black-light;
		}

		.disabled {
			opacity: 0.5;
		}
	}
	.navListBurger {
		margin: 0;
		padding: 20px 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;

		.navItemBurger {
			transition: all 0.3s ease-in-out;
			width: 100%;
			&:hover {
				background-color: rgba($color: #cacaca, $alpha: 0.3);
				border-radius: 8px;
			}
		}
		.navLinkBurger,
		a {
			text-align: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
			&:hover {
				color: $light-colors-accent-light;
				text-shadow: none;
			}
		}
	}
}
