@import '../../../styles/variables.scss';
.infoTabs {
	padding-bottom: 34px;
	border-bottom: 1px solid $light-colors-gray-light;
	.infoList {
		// padding-bottom: 39px;
		height: 66px;
		border-bottom: 1px solid $light-colors-gray-light;
		display: flex;
		list-style: none;
		gap: 96px;
		.infoListItem {
			.infoListItemLink {
				text-decoration: none;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				color: $light-colors-dark-gray-light;
				&:active {
					color: $light-colors-black-light;
				}
			}
			.infoListItemLinkActive {
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				color: $light-colors-black-light;
			}
		}
		.infoListItemActive {
			border-bottom: 1px solid $light-colors-black-light;
		}
	}
}
